<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Trackgenix is a web system for the registration of the hours worked by each
    employee, each project and team work."/>
    <meta name="keywords" content="Functionalities, Trackgenix, Login"/>
    <meta name="author" content="Ariana Maldonado"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/f89e55e463.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap" rel="stylesheet">
    <title>Login - Trackgenix SA &#169;</title>
    <link rel="stylesheet" href="../styles/reset.css" media="screen"/>
    <link rel="stylesheet" href="../styles/header.css" media="screen"/>
    <link rel="stylesheet" href="../styles/login.css" media="screen"/>
    <link rel="stylesheet" href="../styles/footer.css" media="screen"/>
    <link rel="stylesheet" href="../styles/styles.css" media="screen"/>
</head>
<body>
    <header class="header">
        <span class="burger-button">
            <i class="fa-solid fa-bars"></i>
        </span>
        <span class="heading-level-1">Radium</span>
        <span class="heading-level-2">Rocket</span>
    </header>
    <main>
        <section class="main-section">
            <form class="login-form" id="form">
                <div class="form-container">
                    <h1 class="title">Login</h1>
                    <div class="inputs">
                        <label>Email</label>
                        <input type="email" id="email">
                        <div id="error-email" class="error"></div>
                        <label>Password</label>
                        <input type="password" id="password">
                        <div id="error-password" class="error"></div>
                    </div>
                    <div>
                        <button type="button" class="button" id="submit">Continue</button>
                    </div>
                    <a href="#" class="recovery">Recovery Password</a>
                    <a href="../views/index.html" class="cancel">CANCEL</a>
                </div>
            </form>
        </section>
    </main>
    <footer class="footer">
        <div class="social-media">
            <ul>
                <li class="logos">
                    <a href="https://ar.linkedin.com/">
                        <img class="logos" src="../assets/img/linkedin.png" alt="Linkedin Logo">
                    </a>
                </li>
                <li class="logos">
                    <a href="https://twitter.com/">
                        <img class="logos" src="../assets/img/twitter.png" alt="Twitter Logo">
                    </a>
                </li>
                <li class="logos">
                    <a href="https://web.whatsapp.com/">
                        <img class="logos" src="../assets/img/whatsapp.png" alt="WhatsApp Logo">
                    </a>
                </li>
                <li class="logos">
                    <a href="https://www.facebook.com/">
                        <img class="logos" src="../assets/img/facebook.png" alt="Facebook Logo">
                    </a>
                </li>
            </ul>
            <h4>Trackgenix &#169;</h4>
        </div>
    </footer>
    <script src="../javascript/login.js"></script>
</body>
</html>