.main {
    max-width: 75%;
    margin: 50px;
}
.first-section {
    display: flex;
    justify-content: space-between;
    padding: 50px 50px 25px 50px;
    line-height: 20px;
}
.description {
    width: 50%;
    padding-right: 30px;
}
h1 {
    padding: 20px 0px;
    font-weight: 700;
    font-size: 40px;
}
.description h2 {
    padding-top: 10px;
    padding-bottom: 20px;
    font-weight: 700;
    font-size: 20px;
}
.first-section img {
    justify-content: flex-end;
    width: 350px;
    height: 350px;
    padding: 20px 0;
}
.functionalities {
    /* ENCIERRA TITULO Y BOXES */
    display: flex;
    flex-flow: column;
    max-width: 100%;
    height: auto;
    padding: 30px 0;
    border-bottom: 2px solid #d9d9e2;
    border-radius: 1px;
}
.section-title {
    /* TÍTULO DE LA SECCIÓN COMPLETA */
    margin-left: 30px;
    padding: 20px 0 0px 20px;
    font-size: 30px;
    font-weight: 700;
}
.boxes-container {
    /* CONTIENE LAS CAJAS COMPLETAS CON TÍTULOS, ICONOS Y PARRAFOS */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.box {
    display: flex;
    /* CONTIENE LAS ESTRELLAS Y EL TEXTO POR SEPARADO */
    width: 45%;
    padding: 5px;
}
.star-icon {
    font-size: 50px;
}
.text-container {
    font-size: 16px;
    line-height: 20px;
}
.box-title {
    border: 2px solid brown;
    font-size: 1.2em;
    font-weight: 700;
}
.why-trackgenix {
    display: flex;
    flex-flow: column;
    max-width: 100%;
    height: auto;
    border-bottom: 2px solid #d9d9e2;
    border-radius: 1px;
    padding: 30px 0;
}
.information {
    /* background-color: lightgreen; */
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 30px 0;
    border-bottom: 2px solid #d9d9e2;
    border-radius: 1px;
}
.about-us {
    /* background-color: coral; */
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 2px solid #d9d9e2;
    border-radius: 1px;
}
.about-us-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.about-us-container p {
    width: 30%;
}
.logo-rr {
    order: 1;
    width: 300px;
    height: 300px;
}
.last-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 30px;
}
.last-section h4 {
    font-size: 14px;
    font-weight: 700;
    padding-bottom: 5px;
}