.main {
    max-width: 75%;
    margin: 50px;
}
.first-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px;
    line-height: 20px;
    flex-wrap: wrap;
    flex: 2 1 150px;
}
.description-container {
    display: flex;
    flex-direction: column;
    padding: 30px 0;
    flex: 2 2 200px;
}
.description {
    width: 40%;
}
.description-2 {
    width: 100%;
    flex: 2 1 150px;
}
h1 {
    padding-bottom: 20px;
    font-weight: 700;
    font-size: 3em;
}
.description h2 {
    padding-top: 10px;
    padding-bottom: 20px;
    font-weight: 700;
    font-size: 20px;
}
.img img {
    justify-content: flex-end;
    width: 350px;
    height: 350px;
    padding: 20px 15px;
    flex: 2 1 none;
}
.functionalities {
    display: flex;
    flex-flow: column;
    max-width: 100%;
    height: auto;
    padding: 30px 0;
    border-bottom: 2px solid #d9d9e2;
    border-radius: 1px;
}
.section-title {
    margin-left: 30px;
    padding: 20px 0 0px 20px;
    font-size: 30px;
    font-weight: 700;
}
.boxes-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.box {
    display: flex;
    width: 100%;
    flex: 2 1 308px;
    padding: 15px;
}
.star-icon {
    font-size: 50px;
    padding: 10px;
}
.text-container {
    font-size: 16px;
    line-height: 20px;
}
.box-title {
    font-size: 1.2em;
    font-weight: 700;
}
.why-trackgenix {
    display: flex;
    flex-flow: column;
    max-width: 100%;
    height: auto;
    border-bottom: 2px solid #d9d9e2;
    border-radius: 1px;
    padding: 30px 0;
}
.information {
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 30px 0;
    border-bottom: 2px solid #d9d9e2;
    border-radius: 1px;
}
.inputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
input[type=text] {
    display: flex;
    width: 100%;
    flex: 2 1 240px;
    margin: 20px;
    padding: 12px 20px;
    border: 1px solid #373867;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 400;
}
.buttons {
    display: flex;
    flex-direction: column;
}
.contact-area-title {
    padding: 10px 0 10px 20px;
    font-size: 16px;
    font-weight: 500;
}
.radio-button-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
}
.textarea-container {
    display: flex;
    flex-direction: column;
}
textarea {
    display: flex;
    width: 100%;
    height: 200px;
    margin: 15px;
    padding: 12px 20px;
    box-sizing: border-box;
    background-color: #f8f8f8;
    border: 2px solid #373867;
    border-radius: 4px;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 400;
  }
.button-conatiner {
    display: flex;
    flex-direction: row;
}
.send-button {
    width: 190px;
    height: 47px;
    margin: 15px;
    padding: 12px 20px;
    background-color: #aace9b;
    border: 2px solid #373867;
    border-radius: 4px;
    color:#373867;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
}
.send-button:hover {
    background-color: #49a37b;
}
.reset-button {
    width: 117px;
    height: 47px;
    margin-left: 15px;
    padding: 12px 20px;
    background-color: #ffffff;
    border: 2px solid #373867;
    border-radius: 4px;
    color: #373867;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
}
.reset-button:hover {
    background-color: #49a37b;
}
.about-us {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 2px solid #d9d9e2;
    border-radius: 1px;
}
.about-us-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 30px;
}
.about-us-container p {
    width: 200px;
}
.logo-rr {
    order: 1;
    width: 300px;
    height: 300px;
}
.last-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 30px;
}
.last-section h4 {
    font-size: 14px;
    font-weight: 700;
    padding-bottom: 5px;
}