@media (max-width: 780px) {
    .main {
        margin: 0;
    }
    .burger-button {
        display: inline !important;
        margin-right: 10px;
    }
    .img img {
        order: -1;
    }
    .container .aside {
        display: none;
    }
    .main {
        justify-content: center;
    }
    .boxes-container {
        display: flex;
        width: 100%;
    }
    .box {
        width: 100px;
    }
    .radio-button-container {
        flex-direction: column;
    }
    .inputs {
        display: flex;
        width: 100%;
    }
    input[type=text] {
        width: 100%;
    }
}
@media (max-width: 480px) {
    .first-section img {
        order: -1;
    }
    .container .aside {
        display: none;
    }
    .boxes-container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .box {
        display: flex;
        width: 100px;
    }
    .star-icon {
        font-size: 20px;
    }
    .radio-button-container {
        flex-direction: column;
    }
    .inputs {
        display: flex;
    }
    input[type=text] {
        width: 100%;
    }
    .button-container {
        display: flex;
        flex-direction: column;
    }
    .last-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .last-section-lists {
        padding: 20px;
    }
}